{{define "home"}}

<section class="hero">

    <div class="hero-content">

        <span class="badge">
            КГУ •
        </span>

        <h1>
            Test
        </h1>

        <h2>
            Учет трат
        </h2>

        <!-- <div class="hero-buttons">

            <a href="/register" class="button primary">
                Начать
            </a>

            <a href="/login" class="button secondary">
                Войти
            </a>

        </div> -->

    </div>

</section>

{{end}}