    {{define "content"}}

    <section class="hero">

        <div class="hero-content">
            <h2>
                Учет трат
            </h2>

            <form method="POST" action="/internal/handlers/expenses.go">
                <label>На что?:
                    <input type="text" name="Description" value="{{.Description}}">
                </label>
                <br>
                <label>Сколько?:
                    <input type="number" name="Amount" value="{{.Amount}}">
                </label>
                <br>
                <label>Когда?:
                    <input type="date" name="Date" value="{{.Date}}">
                </label>
                <br>
                <button type="submit">Добавить в учет</button>
            </form>


        </div>

    </section>

    {{end}}