{{define "home"}}

<section class="hero">

    <div class="hero-content">

        <span class="badge">
            КГУ • Для студентов
        </span>

        <h1>
            SOS
        </h1>

        <h2>
            Твой университет. Проще.
        </h2>

        <p>
            Всё, что нужно студенту.
            В одном месте.
            Создано студентами.
        </p>

        <div class="hero-buttons">

            <a href="/register" class="button primary">
                Начать
            </a>

            <a href="/login" class="button secondary">
                Войти
            </a>

        </div>

    </div>

</section>

{{end}}